<template>
  <div class="about">
    <h1>This is an about page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem molestias repellendus vitae illo culpa obcaecati distinctio eum nihil hic accusantium fugiat repellat excepturi minus inventore numquam a, ducimus tenetur unde reiciendis minima, ab porro. Eum, atque corporis. Quaerat nisi culpa, reprehenderit quos, consequuntur provident facere tenetur commodi, amet sunt repellat! Ad beatae consectetur, at in nobis ab porro. Asperiores error debitis sapiente aliquid distinctio totam autem consequatur? Voluptas, saepe dignissimos! Adipisci, corporis. Dolorem quia laboriosam adipisci magni odit dolorum obcaecati, tempora doloribus ipsa quibusdam dolor non hic similique itaque mollitia molestias? Iure rem quam laboriosam beatae amet autem a eligendi!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem molestias repellendus vitae illo culpa obcaecati distinctio eum nihil hic accusantium fugiat repellat excepturi minus inventore numquam a, ducimus tenetur unde reiciendis minima, ab porro. Eum, atque corporis. Quaerat nisi culpa, reprehenderit quos, consequuntur provident facere tenetur commodi, amet sunt repellat! Ad beatae consectetur, at in nobis ab porro. Asperiores error debitis sapiente aliquid distinctio totam autem consequatur? Voluptas, saepe dignissimos! Adipisci, corporis. Dolorem quia laboriosam adipisci magni odit dolorum obcaecati, tempora doloribus ipsa quibusdam dolor non hic similique itaque mollitia molestias? Iure rem quam laboriosam beatae amet autem a eligendi!</p>
  </div>
</template>
