<template>
  <div class="home">
    <h1>Homepage</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis unde at, alias illum nesciunt laboriosam quidem voluptatem expedita ducimus autem, rerum explicabo quod magni in, eius tempore! Hic, similique unde quam a deleniti sunt sapiente dolore et mollitia ut fugiat provident nemo necessitatibus maiores earum? Dicta, officiis quaerat quis consectetur voluptatum veritatis rerum ullam. Recusandae illum debitis nemo. Exercitationem ea dolorum aliquam labore, quidem aspernatur aut officiis obcaecati consequuntur repellendus nisi ipsum soluta aliquid! Nisi, alias porro quae soluta illo aperiam eum officia sed similique cupiditate voluptatibus hic iusto culpa dolores laboriosam. Eveniet enim consectetur commodi exercitationem, consequatur maxime sunt!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis unde at, alias illum nesciunt laboriosam quidem voluptatem expedita ducimus autem, rerum explicabo quod magni in, eius tempore! Hic, similique unde quam a deleniti sunt sapiente dolore et mollitia ut fugiat provident nemo necessitatibus maiores earum? Dicta, officiis quaerat quis consectetur voluptatum veritatis rerum ullam. Recusandae illum debitis nemo. Exercitationem ea dolorum aliquam labore, quidem aspernatur aut officiis obcaecati consequuntur repellendus nisi ipsum soluta aliquid! Nisi, alias porro quae soluta illo aperiam eum officia sed similique cupiditate voluptatibus hic iusto culpa dolores laboriosam. Eveniet enim consectetur commodi exercitationem, consequatur maxime sunt!</p>
  </div>
</template>

<script>
export default {
  name: 'Home',
  components: {}
}
</script>
