<template>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">M152</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <router-link :to="{ name: 'Home' }" class="nav-link">Home</router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'Carousel' }" class="nav-link">Carousel</router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'JQuery' }" class="nav-link">JQuery</router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'JQueryCSS' }" class="nav-link">JQueryCSS</router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'JQueryFrog' }" class="nav-link">JQueryFrog</router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'Hangman' }" class="nav-link">Hangman</router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'HexToBinary' }" class="nav-link">HexToBinary</router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'JQuerySound' }" class="nav-link">JQuerySound</router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  name: 'Nav'
}
</script>
<style>
  .router-link-active {
    color: white !important;
  }
</style>
