<template>
  <Nav />
  <main class="flex-shrink-0">
    <div class="container">
      <router-view/>
    </div>
  </main>
</template>

<script>
import Nav from './components/Nav.vue'
export default {
  name: 'App',
  components: { Nav }
}
</script>

<style>
main > .container {
  padding: 60px 15px 0;
}
</style>