<template>
  <h1>Hangman</h1>
  <div id="gameContent">
  </div>
</template>

<script>
import { onMounted } from '@vue/runtime-core'
import manimg from '../assets/hangman/man.png'

export default {
  name: 'Hangman',
  setup() {
    let questionBank = new Array
    let wordArray = new Array
    let previousGuesses = new Array
    let currentWord
    let currentClue
    let wrongAnswerCount

    const titleScreen = () => {
      $('#gameContent').append('<div id="gameTitle">HANGMAN</div><div id="startButton" class="button">BEGIN</div>')		
      $('#startButton').on("click", () => {
        gameScreen()
      })
    }

    const gameScreen = () => {
      $('#gameContent').empty()
      $('#gameContent').append('<div id="pixHolder"><img id="hangman" src="' + manimg + '"></div>')
      $('#gameContent').append('<div id="wordHolder"></div>')
      $('#gameContent').append('<div id="clueHolder"></div>')
      $('#gameContent').append('<div id="guesses">Previous guesses:</div>')
      $('#gameContent').append('<div id="feedback"></div>')

      getWord()
      let numberOfTiles = currentWord.length
      wrongAnswerCount = 0
      previousGuesses = []
          
      for (let i = 0; i < numberOfTiles; i++) {		
        $('#wordHolder').append('<div class="tile" id=t' + i + '></div>')
      }
    
      $('#clueHolder').append("HINT: " + currentClue)

      $(document).on("keyup", handleKeyUp)
    }

    const getWord = () => {
      let rnd = Math.floor(Math.random() * questionBank.length)
      currentWord = questionBank[rnd][0]
      currentClue = questionBank[rnd][1]
      questionBank.splice(rnd, 1)
      wordArray = currentWord.split("")
    }

    const handleKeyUp = (e) => {
      if (e.keyCode > 64 && e.keyCode < 91) {
        let found = false
        let previouslyEntered = false
        var input = String.fromCharCode(e.keyCode).toLowerCase()
            
        for (let i = 0; i < previousGuesses.length; i++) {
          if (input == previousGuesses[i]) {
            previouslyEntered = true
          }
        }
        if (!previouslyEntered) {
          previousGuesses.push(input)
          for (let i = 0; i < wordArray.length; i++) {
            if (input == wordArray[i]) {
              found = true
              $('#t' + i).append(input)
            }
          } 
          if (found) {
            checkAnswer()
          } else{
            wrongAnswer(input)
          }
        }
      }
    }

    const checkAnswer = () => {
	    let currentAnswer = "";	
	    for (let i = 0; i < currentWord.length; i++) {
		    currentAnswer += ($('#t' + i).text());
	    }		
	    if (currentAnswer == currentWord) {
		    victoryMessage();
	    };
    }

    const wrongAnswer = (a) => {
      wrongAnswerCount++
	    let pos= (wrongAnswerCount * -75) + "px"
	    $('#guesses').append("  " + a)
	    $('#hangman').css("left", pos)
	    if (wrongAnswerCount == 6) {
		    defeatMessage()
      }
    }

    const victoryMessage = () => {
	    $(document).off("keyup", handleKeyUp)
	    $('#feedback').append("CORRECT!<br><br><div id='replay' class='button'>CONTINUE</div>")
      $('#replay').on("click", () => {
        if (questionBank.length > 0) {
            gameScreen()
        } else {
          finalPage()
        }
      })
    }

    const defeatMessage = () => {
      $(document).off("keyup", handleKeyUp) 	
      $('#feedback').append("You're Dead!<br>(answer= " + currentWord + ")<div id='replay' class='button'>CONTINUE</div>") 	
      $('#replay').on("click", () => { 		
        if(questionBank.length > 0) {
          gameScreen()
        } else {
          finalPage()
        }
      })
    }
    
    const finalPage = () => { 	
      $('#gameContent').empty() 	
      $('#gameContent').append('<div id="finalMessage">You have finished all the words in the game!</div>')
    }

    onMounted(() => {
      $.getJSON('http://localhost:3000/wordlist', function(data) {
        for(let i = 0; i < data.length; i++) {
          questionBank[i] = new Array
          questionBank[i][0] = data[i].word
          questionBank[i][1] = data[i].clue
        }
      })
      titleScreen()
    })
  }
}
</script>

<style>
#gameContent{
  margin: auto;	
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  background-color:#3498DB;
}

#gameTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  color: #fff;
}

.button {
  font-size: 17px;
  width: 100px;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
  border: solid 1px white;
  border-radius: 4px;
  text-align: center;
  color: #fff;
}

.button:hover {
  background-color: #6AB0FD;
}

#replay {
  margin-left: 0px;
}
#wordHolder {
 margin-top: 50px;
 margin-left: 150px;
}
 
#clueHolder {
 margin-top: 130px;
 margin-left: 150px;
}
 
#guesses {
 margin-top: 20px;
 margin-left: 150px;
}
 
#pixHolder{
  margin-left: 30px;
  width: 75px;
  float: left;
  overflow: hidden;
}
 
#pixHolder img {
  position: relative;
}
 
#feedback {
  margin-top: 20px;
  margin-left: 150px;
  font-size: 34px;
  color: #fff;
}
 
.tile {
  height: 40px;
  width: 40px;
  float: left;
  margin-right: 10px;
  background-color: white;
  text-align: center;
  font-size: 24px;
  color: #333;
  padding-top: 5px;
}
 
#finalMessage {
  text-align: center;
  font-size: 40px;
  color: #fff;
  width: 90%;
  margin: auto;
  margin-top: 100px;
}
 
#dummy {
  position: absolute;
  left: -200px;
  top: 0px;
}
@media screen and (max-width: 800px) {
  #gameContent {
    margin: 1%;	
    width: 98%;
  }
  .tile {
    height: 20px;
    width: 20px;
    font-size: 14px;
    padding-top: 0px;
  }
}
 
@media screen and (max-width: 560px) {
  #wordHolder {
    margin-top: 10px;
    margin-left: 10px;
  }
  #clueHolder {
    margin-top: 130px;
    margin-left: 85px;
  }
  #guesses {
    margin-top: 20px;
    margin-left: 85px;
  }
  #pixHolder {
    margin-top: 50px;
    margin-left: 10px;
    position: absolute;
  }
  #feedback {
    margin-left: 85px;
    font-size: 28px;
  }
  #finalMessage {
    font-size: 30px;
  }
}
</style>