<template>
  <div class="row" v-for="row in numbers" :key="row">
    <div class="col" v-for="number in row" :key="number">
      <div v-if="number == '1'" class="bg-dark">{{ number }}</div>
      <div v-else class="bg-light">{{number}}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HexToBinary',
  setup() {
    let rows = [
      [ "00", "00", "00", "00" ],
      [ "00", "00", "00", "00" ],
      [ "00", "0F", "E0", "00" ],
      [ "00", "1F", "F0", "00" ],
      [ "00", "1F", "F0", "00" ],
      [ "00", "3F", "F8", "00" ],
      [ "00", "3F", "F8", "00" ],
      [ "00", "6E", "F8", "00" ],			
      [ "00", "76", "9C", "00" ],
      [ "00", "7A", "DC", "00" ],
      [ "00", "70", "3C", "00" ],
      [ "00", "60", "3C", "00" ],
      [ "00", "30", "FC", "00" ],
      [ "00", "39", "DC", "00" ],
      [ "00", "2F", "1E", "00" ],
      [ "00", "26", "0F", "00" ],
      [ "00", "60", "0F", "00" ],
      [ "00", "C0", "0F", "80" ],
      [ "00", "C0", "07", "C0" ],
      [ "01", "80", "07", "C0" ],
      [ "01", "80", "03", "E0" ],
      [ "03", "80", "03", "E0" ],
      [ "03", "80", "03", "F0" ],
      [ "03", "80", "01", "F0" ],
      [ "03", "80", "01", "F8" ],
      [ "07", "80", "01", "F8" ],
      [ "0E", "00", "01", "F8" ],
      [ "0A", "00", "01", "F8" ],
      [ "39", "80", "01", "F8" ],
      [ "20", "C0", "01", "CC" ],
      [ "30", "60", "01", "86" ],
      [ "30", "70", "03", "02" ],
      [ "60", "30", "0E", "03" ],
      [ "40", "18", "1C", "01" ],
      [ "60", "0C", "78", "03" ],
      [ "18", "1F", "F8", "0E" ],
      [ "0F", "1F", "F8", "78" ],
      [ "00", "F0", "1F", "C0" ],
      [ "00", "00", "00", "00" ],
      [ "00", "00", "00", "00" ]
    ]

    const hex2bin = (hex) => {
      return (parseInt(hex, 16).toString(2)).padStart(8, '0');
    }

    let numbers = []
    const convertNumbers = () => {
      rows.forEach((row) => {
        let result = ""
        row.forEach(str => {
          result += hex2bin(str)
        })
        numbers.push(result.split(''))
      })
    }

    convertNumbers()

    return { rows, numbers }
  }
}
</script>

<style>
.col {
  text-align: center;
}
.row {
  --bs-gutter-x: 0rem;
  width: 70%;
  margin: 0 auto;
}
</style>