<template>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Vorname</th>
          <th>Nachname</th>
        </tr>
      </thead>
      <tbody @mouseover="handleMouseOver" @mouseout="handleMouseOut">
        <tr>
          <td>Susanne</td>
          <td>Muster</td>
        </tr>
        <tr>
          <td>Rudi</td>
          <td>Rüssel</td>
        </tr>
        <tr>
          <td>Bert</td>
          <td>Baumann</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'JQueryCSS',
  setup() {
    const handleMouseOver = (e) => {
      let target = $(e.target.parentNode)
      target.addClass('selected')
    }
    
    const handleMouseOut = (e) => {
      let target = $(e.target.parentNode)
      target.removeClass('selected')
    }

    return { handleMouseOver, handleMouseOut }
  }
}
</script>

<style>
  .selected {
    background-color: #1e90ff !important;
  }
</style>