<template>
  <audio controls loop class="mt-5" id="epicUnease">
    <source :src="epicUneaseOGG" type="audio/ogg">
    <source :src="epicUneaseMP3" type="audio/mpeg">
    <source :src="epicUneaseFLAC" type="audio/flac">
    Your browser does not support the audio element.
  </audio>

  <h1 class="mt-5">Musik per Tastendruck</h1>
  <hr>
  <h3>KeySound</h3>
  <p>Anleitung: Folgende Tasten erzeugen Sound: 1, 2, 3, Up, Down, Left, Right</p>

  <h1 class="mt-5">Musikplayer</h1>
  <hr>
  <h3>KeySound</h3>
  <p>Anleitung: Folgende Lieder können gewählt werden:</p>
  <ul>
    <li>Taste 6 => Glactic Damages</li>
    <li>Taste 7 => Finding the Balance</li>
    <li>Taste 8 => Epic Unease</li>
    <li>Taste 9 => Blue Skies</li>
    <li>Taste 0 => Stop</li>
  </ul>
</template>

<script>
import epicUneaseMP3 from '../assets/jquerysound/Epic_Unease.mp3'; 
import epicUneaseOGG from '../assets/jquerysound/Epic_Unease.ogg'; 
import epicUneaseFLAC from '../assets/jquerysound/Epic_Unease.flac';


import numberOne from '../assets/jquerysound/numberOne.mp3';
import numberTwo from '../assets/jquerysound/numberTwo.mp3';
import numberThree from '../assets/jquerysound/numberThree.mp3';
import okayLetsGo from '../assets/jquerysound/meme-okay-lets-go.mp3'
import moveUp from '../assets/jquerysound/moveUp.mp3';
import moveDown from '../assets/jquerysound/moveDown.mp3';
import moveLeft from '../assets/jquerysound/left.mp3';
import moveRight from '../assets/jquerysound/right.mp3';

import galacticDamages from '../assets/jquerysound/Galactic_Damages.mp3'
import findingTheBalance from '../assets/jquerysound/Finding_the_Balance.mp3'
import blueSkies from '../assets/jquerysound/Blue_Skies.mp3'
import { onMounted } from '@vue/runtime-core';

export default {
  name: 'JQuerySound',
  setup() {
    onMounted(() => {
      $('#epicUnease').prop('volume', 0.5)

      var audio = null
      var galacticDamagesAudio = new Audio(galacticDamages)
      var findingTheBalanceAudio = new Audio(findingTheBalance)
      var epicUneaseMP3Audio = new Audio(epicUneaseMP3)
      var blueSkiesAudio = new Audio(blueSkies)

      const stopAll = () => {
        galacticDamagesAudio.pause()
        findingTheBalanceAudio.pause()
        epicUneaseMP3Audio.pause()
        blueSkiesAudio.pause()
      }
      const resetAll = () => {
        galacticDamagesAudio.currentTime = 0
        findingTheBalanceAudio.currentTime = 0
        epicUneaseMP3Audio.currentTime = 0
        blueSkiesAudio.currentTime = 0
      }
      $(document).on('keydown', (e) => {
        audio = null
        switch (e.keyCode) {
          case 49: // 1
            audio = new Audio(numberOne)
            break
          case 50: // 2
            audio = new Audio(numberTwo)
            break
          case 51: // 3
            audio = new Audio(numberThree)
            break
          case 52: // 4
            audio = new Audio(okayLetsGo)
            break
          case 54: // 6
            stopAll()
            resetAll()
            galacticDamagesAudio.play()
            break
          case 55: // 7
            stopAll()
            findingTheBalanceAudio.play()
            break
          case 56: // 8
            stopAll()
            epicUneaseMP3Audio.play()
            break
          case 57: // 9
            stopAll()
            blueSkiesAudio.play()
            break
          case 48: // 0
            stopAll()
            break
          case 38: // UP
            audio = new Audio(moveUp)
            break
          case 40: // DOWN
            audio = new Audio(moveDown)
            break
          case 37: // LEFT
            audio = new Audio(moveLeft)
            break
          case 39: // RIGHT
            audio = new Audio(moveRight)
            break
        }
        if (audio) {
          audio.play()
        }
      })
    })
    return { epicUneaseMP3, epicUneaseOGG, epicUneaseFLAC }
  }
}
</script>

<style>

</style>