<template>
  <h1>LA_152_7712</h1>
  <p class="lead" @click="handleClick" @mouseover="handleMouseover">Auf diesen Absatz kann reagiert werden</p>
</template>

<script>
export default {
  name: 'JQuery',
  setup() {
    const handleClick = () => {
      console.log("Auf den p-Container wurde geklickt!")
    }

    const handleMouseover = () => {
      console.log("Über dem p-Container befindet sich der Mauszeiger")
    }

    return { handleClick, handleMouseover }
  }
}
</script>
