<template>
  <div class="frog w-100">
    <img :src="street" class="imgstreet">
    <div class="row w-100 text-center" style="--bs-gutter-x: 0rem;">
      <div class="col-2 bg-danger">
        <img :src="frog" class="imgfrog">
      </div>
      <div class="col-2">
        <img :src="car" class="imgcarleft" id="carleft1">
      </div>
      <div class="col-2">
        <img :src="car" class="imgcarleft" id="carleft2">
      </div>
      <div class="col-2">
        <img :src="car" class="imgcarright" id="carright1">
      </div>
      <div class="col-2">
        <img :src="car" class="imgcarright" id="carright2">
      </div>
      <div class="col-2 bg-danger">
      </div>
    </div>
  </div>
</template>

<script>
import street from '../assets/jqueryfrog/street.png'
import car from '../assets/jqueryfrog/car.png'
import frog from '../assets/jqueryfrog/frog.png'
import { onMounted } from '@vue/runtime-core'

export default {
  setup() {
    let carHeight
    let streetHeight
    const carTime = 1000

    const animateCarLeft = (id) => {
      $(id).css('margin-top', (carHeight * -1) - 20)
      $(id).animate({
        "margin-top": (streetHeight) + 'px',
      }, carTime, "linear", () => animateCarLeft(id))
    }

    const animateCarRight = (id) => {
      $(id).css('margin-top', streetHeight)
      $(id).animate({
        "margin-top": (carHeight * -1) -27,
      }, carTime, "linear", () => animateCarRight(id))
    }

    const animateCars = () => {
      const random1 = Math.floor(Math.random() * carTime);
      const random2 = Math.floor(Math.random() * carTime);
      const random3 = Math.floor(Math.random() * carTime);
      const random4 = Math.floor(Math.random() * carTime);

      setTimeout(() => { animateCarLeft('#carleft1')  }, random1)
      setTimeout(() => { animateCarLeft('#carleft2')  }, random2)
      setTimeout(() => { animateCarRight('#carright1') }, random3)
      setTimeout(() => { animateCarRight('#carright2') }, random4)
    }

    const run = () => {
      carHeight = $('.imgcarleft').height();
      streetHeight = $('.imgstreet').height();
      animateCars()

      $(document).keydown(function(e){
        switch (e.which){
        case 37:    //left arrow key
          $(".imgfrog").finish().animate({
              left: "-=50",
          }, 100, 'linear');
          break;
        case 38:    //up arrow key
          $(".imgfrog").finish().animate({
              top: "-=50"
          }, 100, 'linear');
          break;
        case 39:    //right arrow key
          $(".imgfrog").finish().animate({
              left: "+=50"
          }, 100, 'linear');
          break;
        case 40:    //bottom arrow key
          $(".imgfrog").finish().animate({
              top: "+=50"
          }, 100, 'linear');
          break;
        }
      });
    }


    onMounted(() => {
      $(document).ready(() => {
        run()
      })
    })

    return { street, car, frog }
  }
}
</script>

<style>
  .frog {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: none;
  }
  .frog .imgfrog {
    position: absolute;
    width: 6%;
    top: 40%;
  }
  .frog .imgstreet {
    width: 66.66%;
    margin-left: 16.66%;
  }
  .frog .imgcarleft {
    width: 60%;
    margin-top: -1000px;
  }
  .frog .imgcarright {
    width: 60%; 
    transform: rotate(180deg);
    margin-top: -1000px;
  }
  .frog img + .row {
    position: absolute;
    top: 0;
    height: 100%;
  }
</style>