<template>
  <div v-if="job">
    <h1>Details of {{ job.title }}</h1>
    <p>{{ job.details }}</p>
  </div>
  <div v-else>
    Loading....
  </div>
</template>

<script>
import { ref } from '@vue/reactivity'
import { onMounted } from '@vue/runtime-core'
export default {
  props: ['id'],
  data() {
    return {
      job: null
    }
  },
  setup(props) {
    const job = ref(null)

    onMounted(() => {
      fetch('http://localhost:3000/jobs/' + props.id)
        .then(res => res.json())
        .then(data => job.value = data)
        .catch(err => console.log(err.message))
      }
    )

    return { job }
  }
}
</script>

<style>

</style>