<template>
  <form @submit.prevent="handleSubmit">
    <h3>Sign Up</h3>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" v-model="first_name" placeholder="First Name">
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" v-model="last_name" placeholder="Last Name">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" v-model="email" placeholder="Email">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" v-model="password" placeholder="Password">
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control" v-model="password_confirm" placeholder="Confirm Password">
    </div>

    <button class="btn btn-primary btn-block">Sign Up</button>
  </form>
</template>

<script>
import { ref } from '@vue/reactivity'
import axios from 'axios'

export default {
  name: 'Register',
  setup() {
    const first_name = ref('')
    const last_name = ref('')
    const email = ref('')
    const password = ref('')
    const password_confirm = ref('')

    const handleSubmit = () => {
      const data = {
        first_name: first_name.value,
        last_name: last_name.value,
        email: email.value,
        password: password.value,
        password_confirm: password_confirm.value,
      }
      
      axios.post('http://localhost:8000/register', data).then(
        res => {
          console.log(res)
        }
      ).catch(
        err => {
          console.log(err)
        }
      )
    }

    return { first_name, last_name, email, password, password_confirm, handleSubmit }
  }
}
</script>

<style>

</style>